.mr-green{
    background: none;
    background-color: #97C842;
    color: white;
}
.mr-blue{
    background: none;
    background-color: #40A9C8;
    color: white;
}
.mr-grey{
    background: none;
    background-color: #CCC;
    color: white;
}
.mr-shadow{
    box-shadow: 0px 4px 7px 0px #333;
}