$color-mrapp-green: #97C842;
$color-mrapp-blue: #40A9C8;
$color-mrapp-grey: #CCC;
$color-mrapp-white: #FFF;
$color-white-semi-transparent: rgba(255,255,255, .7);

.mr-green{
    background: none;
    background-color: $color-mrapp-green;
    color: $color-mrapp-white;
}
.mr-blue{
    background: none;
    background-color: #40A9C8;
    color: $color-mrapp-white;
}
.mr-grey{
    background: none;
    background-color: #CCC;
    color: $color-mrapp-white;
}