.km-icon-yes:before,
.km-icon-yes:after {
    content: "\e037";
}
.km-icon-no:before,
.km-icon-no:after {
    content: "\e038";
}

.km-icon-love:before,
.km-icon-love:after {
    content: "\e044";
}

.km-icon-person:before,
.km-icon-person:after {
    content: "\e319";
}

.km-icon-person:before,
.km-icon-person:after {
    content: "\e319";
}