.km-icon-yes:before,
.km-icon-yes:after {
    content: "\e037";
}
.km-icon-no:before,
.km-icon-no:after {
    content: "\e038";
}

.km-icon-love:before,
.km-icon-love:after {
    content: "\e044";
}

.km-icon-person:before,
.km-icon-person:after {
    content: "\e319";
}

.km-icon-person:before,
.km-icon-person:after {
    content: "\e319";
}

.km-icon-home:before,
.km-icon-home:after {
    content: "\e0af";
}

.km-icon-more:before,
.km-icon-more:after {
    content: "\e0f1";
}

.km-icon-key:before,
.km-icon-key:after {
    content: "\e0b1";
}

.km-arrow-w:after,
.km-arrow-w:before{
    content: "\e013";
}