.mr-full-width * {
    input, [data-role="button"]{
        width: 100%;
    }
}

.center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.km-footer .km-tabstrip{
    background: $color-white-semi-transparent;
    .km-icon, .km-text{
        color: $color-mrapp-white;
    }
    .km-state-active{
        background: $color-mrapp-blue;
    }
}

.setup-layout {
    .km-content{
        background: transparent;
        display: block;
    }
    .km-pages li{
        width: 2em;
        height: .5em;
        background-color: $color-white-semi-transparent;
        &.km-current-page{
            background-color: $color-mrapp-white;
        }
    }
    .km-footer{
        background: transparent;
        margin-bottom: 10px;
    }
}

.mr-logo{
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.km-navbar{
    min-height: 10vh;
}

&.km-on-ios .km-header {
    min-height: 20px;
}