&.km-on-ios {
    [data-role="view"] > div{
        margin-top: 20px;
    }
    .bg-blur{
        margin-top: -20px;
    }
}
.bg-blur-container .km-content{
    background: transparent;
    display: block;
}
.bg-blur-container .km-pages li{
    width: 2em;
}

.mr-full-width * input {
    width: 100%;
}

.km-footer{
    background: rgba(255,255,255,0.5);
    .km-icon, .km-text{
        color: #333;
    }
    .km-state-active{
        background: $color-mrapp-blue;
    }
}

.km-navbar{
    min-height: 10vh;
}

