&.km-on-ios {
    [data-role="view"] > div{
        margin-top: 20px;
    }
    .bg-blur{
        margin-top: -20px;
    }
}
.bg-blur-container .km-content{
    background: transparent;
    display: block;
}
.bg-blur-container .km-pages li{
    width: 2em;
}

.mr-full-width * input {
    width: 100%;
}

.km-flat .km-button{
    &.mr-green{
        background-color: #97C842;
        color: white;
    }
    &.mr-blue{
        background-color: #40A9C8;
        color: white;
    }
    &.mr-grey{
        background-color: #CCC;
        color: white;
    }
    &.mr-shadow{
        box-shadow: 0px 4px 7px 0px #333;
        }
}
