* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); // make transparent link selection, adjust last value opacity 0 to 1.0 
}

@import "shadows";
@import "fonts";

#body {
    @import "colors";

    background-color: $color-mrapp-grey;
    font-size: 13pt;
    font-family: $font-opensans, $font-sanserif;

    
    @import "override";
    @import "buttons";
    @import "widgets";
    @import "extendable";
    @import "icons";


    &.blur{
        background-image: url('../img/bg-splash.jpg');
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .swipe-page{
        padding: 2vh;
        .icon{
            padding-top: 3vh;
            padding-bottom: 3vh;
        }
        .content{
            padding-top: 3vh;
            padding-bottom: 3vh;
        }
        label {
            font-weight: 300;
            color: $color-mrapp-white;
            font-size: 12pt;
        }
    }

    @import "responsive";
}
