* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); // make transparent link selection, adjust last value opacity 0 to 1.0 
}

@import "shadows";

#body {
    @import "colors";
    @import "override";
    @import "buttons";
    @import "widgets";
    @import "extendable";
    @import "icons";
    &.blur{
        background-image: url('../img/bg-splash.jpg');
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    @import "responsive";
}
