* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); // make transparent link selection, adjust last value opacity 0 to 1.0 
}

@import "shadows";

#body {
    @import "colors";
    @import "override";
    @import "buttons";
    @import "widgets";
    @import "extendable";
    @import "icons";
    .splash-bg:before{
        background-image: url('../img/bg-splash.jpg');
    }
    .bg-blur-container .bg-blur:before{
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;

        display: block;
        width: 100%;
        height: 800px;

        -webkit-filter: blur(10px);
        filter: blur(10px);
    }
    .bg-blur-container .bg-blur{
        position: fixed;
        left: 0;
        right: 0;
        z-index: 0;
    }
    @import "responsive";
}
