<div data-role="view" id="view-more"
     data-title="More"
     data-layout="default-layout">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Sources
            <ul>
                <li><a >Local View</a></li>
                <li><a >Remote View</a></li>
            </ul>
        </li>
    </ul>

    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Types
            <ul>
                <li><a >Stretched View</a></li>
            </ul>
        </li>
    </ul>
</div>