<div data-role="view" id="view-email" class="content" data-model="App.model.email" data-init="App.events.email.onInit">
    <div class="action-area ch40 col-xs-12">
        <div class="row">
            <div class="col-xs-12"><label>Subject:</label></div>
            <div class="col-xs-12"><input type="text" placeholder="Subject" data-bind="value: formData.subject"/></div>
            <div class="col-xs-12"><label>Body:</label></div>
            <div class="col-xs-12"><input type="text" placeholder="Content" data-bind="value: formData.body"/></div>
        </div>
        <div class="row">
            <div class="col-xs-12"><button class="button dh dw" data-bind="click: send">Send Email</button></div>
        </div>
    </div>
    <div class="result-area ch60">
        <div class="results">
            <div id="view-email-result" class="desc"></div>
        </div>
        <div class="separator"></div>
    </div>
</div>