<div id="view-intro" class="bg-blur-container" data-role="view" data-stretch="true" data-model="mrapp.model.intro" style="display: none;">
    <div class="bg-blur splash-bg"></div>
    <div class="mr-content">
        <div>
            <div data-role="scrollview" data-content-height="80%" style="height: 60vh;">
                <div data-role="page" style="height: 60vh;">This page will stretch to fit the entire view height</div>
                <div data-role="page" style="height: 60vh;">This page will stretch to fit the entire view height</div>
                <div data-role="page" style="height: 60vh;">This page will stretch to fit the entire view height</div>
                <div data-role="page" style="height: 60vh;">This page will stretch to fit the entire view height</div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-6 col-xs-push-3 text-center">
                    <a data-role="button" href="#view-token" class="btn mr-button mr-green mr-shadow mr-height-60">Get Started</a>
                </div>
            </div>
            <div style="position: absolute; bottom: 10px; left: 0; width: 100%;">
                <div>
                    <div class="col-xs-2">
                        <a data-role="button" class="mr-question-mark mr-height-30">?</a>
                    </div>
                    <div class="col-xs-6 col-xs-push-4 text-right">
                        <a data-role="button" class="btn mr-button mr-blue mr-height-30">Returning Users</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>