<div id="view-intro" class="setup-layout container mr-full-width" 
     data-role="view" 
     data-hide="mrapp.model.intro.onHide"
     data-model="mrapp.model.intro" 
     style="display: none;">
    <div class="row bg-blur splash-bg"></div>
    <div class="row text-center mr-logo" style="height: 20vh;">
        <div class="col-xs-12">
            <img src="img/MR-Logo-vector.svg" alt="MediRecords" title="MediRecords" style="max-width: 100px;" />
        </div>
    </div>
    <div class="mr-content row" style="height: 40vh;">
        <div class="col-xs-12">
            <div data-role="scrollview" class="swipe-page">
                <div data-role="page" style="height: 40vh;" class="text-center">
                    <div class="row icon">
                        <img src="img/MR-Logo-vector.svg" alt="MediRecords" title="MediRecords" style="max-width: 100px;" />
                    </div>
                    <div class="row content">
                        <label>Make appointments with</label><br><label>your health provider</label>
                    </div>
                </div>
                <div data-role="page" style="height: 40vh;" class="text-center">
                    <div><img src="img/MR-Logo-vector.svg" alt="MediRecords" title="MediRecords" style="max-width: 100px;" /></div>
                </div>
                <div data-role="page" style="height: 40vh;" class="text-center">
                    <div><img src="img/MR-Logo-vector.svg" alt="MediRecords" title="MediRecords" style="max-width: 100px;" /></div>
                </div>
                <div data-role="page" style="height: 40vh;" class="text-center">
                    <div><img src="img/MR-Logo-vector.svg" alt="MediRecords" title="MediRecords" style="max-width: 100px;" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 center" style="max-width: 240px;">
            <a data-role="button" class="btn mr-button mr-green mr-shadow mr-height-50" data-bind="click: start">Get Started</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <a data-role="button" class="mr-question-mark km-widget km-button" data-bind="click: help"></a>
        </div>
        <div class="col-xs-6 text-right pull-right" style="max-width: 150px;">
            <a data-role="button" data-bind="click: returningUser" data-role="button" class="btn mr-button mr-blue mr-height-30">Returning Users</a>
        </div>
    </div>
    
</div>