<div id="view-intro" class="setup-layout mr-full-width" 
     data-role="view" 
     data-layout="setup-layout"
     data-hide="mrapp.model.intro.onHide"
     data-model="mrapp.model.intro" 
     style="display: none;">
    <div class="bg-blur splash-bg"></div>
    <div class="mr-content col-xs-12">
        <div data-role="scrollview">
            <div data-role="page">
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
            </div>
            <div data-role="page">
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
            </div>
            <div data-role="page">
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
            </div>
            <div data-role="page">
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
                <div><img src="img/MediRecordsIcon.png" alt="MediRecords" title="MediRecords" style="width: 100px;" /></div>
            </div>
        </div>
        <div>
            <div class="col-xs-9 center" style="padding-top: 10%; padding-bottom: 10%;">
                <span data-role="touch" data-bind="events: {tap: start}">
                    <a data-role="button" class="btn mr-button mr-green mr-shadow mr-height-50">Get Started</a>
                </span>
            </div>
        </div>
    </div>
    <div data-role="footer">
        <div class="col-xs-2">
            <span data-role="touch" data-bind="events: {tap: help}">
                <a class="mr-question-mark mr-height-30 km-widget km-button"></a>
            </span>
        </div>
        <div class="col-xs-6 col-xs-push-4 text-right">
            <span data-role="touch" data-bind="events: {tap: returningUser}">
                <a data-role="button" class="btn mr-button mr-blue mr-height-30">Returning Users</a>
            </span>
        </div>
    </div>
</div>