<div id="view-agreement" class="bg-blur-container" data-role="view" data-stretch="true" data-model="App.model.agreement" style="display: none;">
    <div class="bg-blur splash-bg"></div>
    <div style="height: 100vh" class="mr-full-width mr-content">
        <div class="row">
            <div class="col-xs-12">
                <input type="text" class="k-input mr-input" placeholder="Enter MediRecords Token"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7 col-xs-push-3 text-center">
                <a data-role="button" class="btn mr-button mr-green mr-shadow mr-height-60">Submit Token</a>
            </div>
        </div>
    </div>
</div>