<div id="view-pin" class="bg-blur-container" 
     data-role="view" data-stretch="true" 
     data-model="App.model.pin" 
     data-init="App.model.pin.onInit" 
     data-show="App.model.pin.onShow" 
     data-before-show="App.model.pin.onBeforeShow" 
     data-after-show="App.model.pin.onAfterShow" style="display: none;">
    <div class="bg-blur splash-bg"></div>
    <div style="height: 100%" class="mr-full-width">
        <div data-bind="invisible: isConfirm">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <label>Enter New Pin</label>
                </div>
                <div class="col-xs-3">
                    <input type="password" id="view-pin-code-1" data-next="view-pin-code-2" class="k-input mr-input" maxlength="1" data-bind="value: formData.passCode1, events: {keyup: onKeyup, change: dataChanged}"/>
                </div>
                <div class="col-xs-3">
                    <input type="password" id="view-pin-code-2" data-next="view-pin-code-3" class="k-input mr-input" maxlength="1" data-bind="value: formData.passCode2, events: {keyup: onKeyup, change: dataChanged}"/>
                </div>
                <div class="col-xs-3">
                    <input type="password" id="view-pin-code-3" data-next="view-pin-code-4" class="k-input mr-input" maxlength="1" data-bind="value: formData.passCode3, events: {keyup: onKeyup, change: dataChanged}"/>
                </div>
                <div class="col-xs-3">
                    <input type="password" id="view-pin-code-4" data-next="view-pin-code-1" class="k-input mr-input" maxlength="1" data-bind="value: formData.passCode4, events: {keyup: onKeyup, change: dataChanged}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-xs-push-9 text-right">
                    <a data-role="button" class="btn" data-bind="click: skip">Skip</a>
                </div>
            </div>
        </div>
        <div data-bind="visible: isConfirm">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <label>Confirm Pin</label>
                </div>
                <div class="col-xs-3">
                    <input type="password" id="view-pin-code-confirm-1" data-next="view-pin-code-confirm-2" class="k-input mr-input" maxlength="1" data-bind="value: confirmPasscode.passCode1, events: {keyup: onKeyup, change: dataChanged}"/>
                </div>
                <div class="col-xs-3">
                    <input type="password" id="view-pin-code-confirm-2" data-next="view-pin-code-confirm-3" class="k-input mr-input" maxlength="1" data-bind="value: confirmPasscode.passCode2, events: {keyup: onKeyup, change: dataChanged}"/>
                </div>
                <div class="col-xs-3">
                    <input type="password" id="view-pin-code-confirm-3" data-next="view-pin-code-confirm-4" class="k-input mr-input" maxlength="1" data-bind="value: confirmPasscode.passCode3, events: {keyup: onKeyup, change: dataChanged}"/>
                </div>
                <div class="col-xs-3">
                    <input type="password" id="view-pin-code-confirm-4" data-next="view-pin-code-confirm-1" class="k-input mr-input" maxlength="1" data-bind="value: confirmPasscode.passCode4, events: {keyup: onKeyup, change: dataChanged}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <a data-role="button" class="btn" data-bind="click: reset">Reset</a>
                </div>
            </div>
        </div>
    </div>
</div>