<div data-role="view" id="view-profile" 
     data-title="Profile" 
     data-layout="tabstrip-layout" 
     data-model="mrapp.model.profile" 
     data-init="mrapp.model.profile.onInit"
     data-hide="mrapp.model.profile.onHide"
     data-before-show="mrapp.model.profile.onBeforeShow"
     data-after-show="mrapp.model.profile.onAfterShow" style="display: none;">
    <ul data-role="listview" class="mr-content" data-style="inset" data-type="group">
        <li>
            <ul>
                <li><h2>Carine <span>Callahan</span></h2><img src="img/photo/carine.jpg" /></li>
                <li>Weekly average sales <span class="sales-up">$ 8,250</span></li>
                <li>Monthly average sales <span class="sales-up">$ 32,000</span></li>
            </ul>
        </li>
        <li>
            Languages
            <ul>
                <li>English <span class="value">Native</span></li>
                <li>Hungarian <span class="value">Advanced</span></li>
                <li>French <span class="value">Advanced</span></li>
                <li>Chinese <span class="value">Beginner</span></li>
            </ul>
        </li>
        <li>
            Sales commodity
            <ul>
                <li>Beverages</li>
                <li>Condiments</li>
                <li>Confections</li>
                <li>Diary Products</li>
                <li>Grains/Cereals</li>
                <li>Meat/Poultry</li>
                <li>Produce</li>
                <li>Seafood</li>
            </ul>
        </li>
        <li>
            PC Skills
            <ul>
                <li>MS Word</li>
                <li>MS Excel</li>
                <li>MS Outlook</li>
                <li>MS PowerPoint</li>
                <li>MS Project</li>
                <li>Windows (XP, Vista)</li>
                <li>Internet</li>
                <li>SAP - Sales and Marketing Module</li>
                <li>MS Visual Studio</li>
                <li>Adobe Acrobat</li>
                <li>CorelDraw</li>
            </ul>
        </li>
        <li>
            Demo Only
            <ul>
                <li class="btn" data-bind="click: reset">Reset</li>
            </ul>
        </li>
    </ul>
</div>