<div data-role="view" id="view-more"
     data-title="More"
     data-before-show="mrapp.model.more.onBeforeShow"
     data-layout="tabstrip-layout">
    <header data-role="header">
        <div data-role="navbar">
            <a data-align="left" data-icon="arrow-w" data-role="backbutton" class="back-button"></a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Sources
            <ul>
                <li><a >Local View</a></li>
                <li><a >Remote View</a></li>
            </ul>
        </li>
    </ul>

    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Types
            <ul>
                <li><a >Stretched View</a></li>
            </ul>
        </li>
    </ul>
</div>