<div data-role="view" data-title="Views">
    <header data-role="header">
        <div data-role="navbar">
            <a data-align="left" data-icon="arrow-w" data-role="backbutton" class="back-button"></a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Sources
            <ul>
                <li><a href="#secondview">Local View</a></li>
                <li><a href="../content/mobile/view/remoteview.html">Remote View</a></li>
            </ul>
        </li>
    </ul>

    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Types
            <ul>
                <li><a href="#stretchview">Stretched View</a></li>
            </ul>
        </li>
    </ul>
</div>