<div id="view-lock" class="setup-layout" 
     data-role="view" 
     data-stretch="true" 
     data-model="mrapp.model.lock" 
     data-after-show="mrapp.model.lock.onAfterShow"
     style="display: none;">
    <div class="bg-blur splash-bg"></div>
    <div style="height: 100vh" class="mr-full-width mr-content">
        <div class="row">
            <div class="col-xs-12">
                <input type="number" class="k-input mr-input" placeholder="Enter PIN to unlock" data-bind="value: formData.passCode"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7 col-xs-push-3 text-center">
                <a data-role="button" class="btn mr-button mr-green mr-shadow mr-height-60" data-bind="click: unlock">Unlock</a>
            </div>
        </div>
    </div>
</div>