<div data-role="view" id="view-demo" 
     data-model="mrapp.model.demo" 
     data-init="mrapp.model.demo.onInit" 
     data-after-show="mrapp.model.demo.onAfterShow"
     data-before-show="mrapp.model.demo.onBeforeShow"
     data-layout="tabstrip-layout"
     style="display: none;">
    <ul data-role="listview" data-bind="source: todoDatasource" data-template="view-demo-template"></ul>
</div>

<script type="text/x-kendo-template" id="view-demo-template">
   <a href="\#view-#: target #">#: title #</a>
</script>