<div id="view-password" class="bg-blur-container" 
     data-role="view" data-stretch="true" 
     data-model="mrapp.model.password" 
     data-init="mrapp.model.password.onInit" 
     data-before-show="mrapp.model.password.onBeforeShow" 
     style="display: none;">
    <div class="bg-blur splash-bg"></div>
    <div style="height: 100vh" class="mr-full-width mr-content">
        <div class="row">
            <div class="col-xs-12">
                <input type="password" class="k-input mr-input" placeholder="Password" data-bind="value: formData.password"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="password" class="k-input mr-input" placeholder="Password" data-bind="value: formData.confirmPassword"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7 col-xs-push-3 text-center">
                <a data-role="button" class="btn mr-button mr-green mr-shadow mr-height-60" data-bind="click: next">Next</a>
            </div>
        </div>
    </div>
</div>